@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

<form asp-controller="Home" asp-action="SignUp" method="post">
    <div class="row">
	    <div class="col-md-8 offset-md-2">
		    <h2>Kullanıcı Kayıt Formu</h2>
			@if (TempData["SuccessMessage"] != null)
		    {
			    <div class="alert alert-info" role="alert">@TempData["SuccessMessage"]</div>
		    }
		    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
		    <div class="row mb-3">
			    <label for="UserName" class="col-sm-2 col-form-label" asp-for="UserName"></label>
			    <div class="col-sm-10">
				    <input asp-for="UserName" class="form-control">
					<span class="text-danger" asp-validation-for="UserName"></span>
			    </div>
		    </div>
		    <div class="row mb-3">
			    <label for="Email" class="col-sm-2 col-form-label" asp-for="Email"></label>
			    <div class="col-sm-10">
				    <input asp-for="Email" class="form-control">
					<span class="text-danger" asp-validation-for="Email"></span>
			    </div>
		    </div>
		    <div class="row mb-3">
			    <label class="col-sm-2 col-form-label" asp-for="Password"></label>
			    <div class="col-sm-10">
				    <input type="password" class="form-control" asp-for="Password">
				    <span class="text-danger" class="text-danger" asp-validation-for="Password"></span>
			    </div>
		    </div>
		    <div class="row mb-3">
			    <label class="col-sm-2 col-form-label" asp-for="PasswordConfirm"></label>
			    <div class="col-sm-10">
				    <input type="password" class="form-control" asp-for="PasswordConfirm">
					<span class="text-danger" asp-validation-for="PasswordConfirm"></span>
			    </div>
		    </div>
		    <div class="row mb-3">
			    <label class="col-sm-2 col-form-label" asp-for="Phone"></label>
			    <div class="col-sm-10">
				    <input asp-for="Phone" class="form-control">
					<span class="text-danger" asp-validation-for="Phone"></span>
			    </div>
		    </div>
		    <div class="row mb-3">
			    <div class="col-md-8 offset-2">
				    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
			    </div>
		    </div>
	    </div>
    </div>
    
</form>
